.App {
  text-align: center;
  background-color: #353535;
  min-height: 100vh;
}

.App-logo {
  height: 12vmin;
  padding: 1vmin;
}

.App-header {
  background-image: radial-gradient(circle, whitesmoke, #292929, #353535);
  /*background-color: #282c34;*/
  /*min-height: 100vh;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1.5vmin);
  color: black;
}

.App-link {
  color: #09d3ac;
}

.App-footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: whitesmoke;
  /*background-image: radial-gradient(circle, whitesmoke, #292929, #353535);*/
  color: black;
  text-align: center;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.modal-main {
  position:fixed;
  background: white;
  width: auto;
  max-height: 90%;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  overflow-y: auto;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.SearchBar{
  margin-top: 1.5em;
}

.SearchResults{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  padding-inline-start: 0;
}

.SearchResults li{
  margin: .5em;

}

.SearchResults li button{
  min-width: 300px;
  font-size: 13pt !important;
  color: white !important;
  background-color: #950909 !important;
}

.SearchResults li button:hover{
  background-color: #d60d0d !important;
}
